<div class="footer-container">
  <footer class="footer">
    <div class="footer-content">
      <p>Specialising in everything pokemon</p>

      <a href="www.facebook.com" class="socials">
        <i class="fa fa-facebook"></i>
      </a>

      <a href="www.twitter.com" class="socials">
        <i class="fa fa-twitter"></i>
      </a>

      <a href="www.youtube.com" class="socials">
        <i class="fa fa-youtube"></i>
      </a>

      <a href="www.linkedin.com" class="socials">
        <i class="fa fa-linkedin-square"></i>
      </a>

      <p>&copy;2022 designed by <span>DNWebPirates</span></p>
    </div>
  </footer>
</div>
